<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <figure id="news-wordmark-figure">
        <%= image_tag "wordmark-1000.png", class:"img-responsive", id:"wordmark-news" %>
        <figcaption id="news-wordmark-caption" class="text-center">News From Around The Web</figcaption>
      </figure>
      <div class="entries-wrapper">
        <% @daily_articles.each do |day, articles| %>
          <% if Time.now.strftime('%B %d, %Y') == day %>
            <h6><div class='day-strike'><span><%= 'Today' %></span></div></h6>
          <% else %>
            <h6><div class='day-strike'><span><%= day %></span></div></h6>
          <% end %>
          <% @articles.each do |article| %>
            <h4 id="article-link-header"><%= link_to "#{strip_tags(article.title.sanitize!)}", "#{article.url}", target: :_blank, id:"article-title-link" %></h4>
            <p id="article-published">Published <%= time_ago_in_words(article.published_at) %> ago.</p>
            <p id="article-description"><%= strip_tags(article.content.sanitize!) %></p>
            <hr>
          <%  end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
