<h1>Bar Name</h1> <%= @barroom.name %>

<div data-behavior='messages' data-barroom-id='<%= @barroom.id %>'>
  <% @messages.each do |message| %>
      <%= render message %>
  <% end %>
</div>

<%= form_for [@barroom, Message.new], remote: true do |f| %>
  <%= f.text_area :body, rows: 1, class: "form-control", autofocus: true %>
<% end %>
