  <!DOCTYPE html>
<html>
  <head>
    <title>BillsBars</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1 col-lg-1" id="static-sidebar">
          <ul data-spy="affix" data-offset-top="0" data-offset-bottom="0">
            <% if user_signed_in? %>
              <%= link_to edit_user_registration_path do %>
                <li><i class="fa fa-cog" aria-hidden="true"></i></li>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <li><i class="fa fa-sign-out" aria-hidden="true"></i></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="col-sm-3 col-lg-2">
          <nav class="navbar navbar-default navbar-fixed-side" id="settings-nav">
            <div class="container">
              <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">Bills Shout</a>
              </div>
              <div class="collapse navbar-collapse" id="messaging-nav">
                <ul class="nav navbar-nav">
                  <% if user_signed_in? %>
                  <li>
                    <span class="user-settings-link"><%= current_user.username %></span>
                  </li>
                  <h5>Huddles</h5>
                  <% current_user.barrooms.public_channels.each do |barroom| %>
                    <li><%= link_to barroom.name, barroom, data: {behavior: "barroom-link", barroom_id: barroom.id} %></li>
                  <% end %>
                  <h5>Users</h5>
                  <% (User.all - [current_user]).each do |user| %>
                    <li><%= link_to user.username, direct_message_path(user.id), data: {behavior: "barroom-link", barroom_id: Barroom.direct_message_for_users([current_user, user]).id } %></li>
                  <% end %>
                <% else %>
                  <li><%= link_to "Sign Up", new_user_registration_path %></li>
                  <li><%= link_to "Login", new_user_session_path %></li>
                <% end %>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-sm-8 col-lg-9">
          <!-- your page content -->
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
